@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-primary: #000000;
	--ion-color-primary-rgb: 0,0,0;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #000000;
	--ion-color-primary-tint: #3e3e3e;

	--ion-color-secondary: #D97706;
	--ion-color-secondary-rgb: 217,119,6;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bf6905;
	--ion-color-secondary-tint: #dd851f;

	--ion-color-tertiary: #F5F5DC;
	--ion-color-tertiary-rgb: 245,245,220;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d8d8c2;
	--ion-color-tertiary-tint: #f6f6e0;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #E5E5E5;
	--ion-color-light-rgb: 229,229,229;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cacaca;
	--ion-color-light-tint: #e8e8e8;

	--ion-color-medium: #707072;
	--ion-color-medium-rgb: 112,112,114;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #636364;
	--ion-color-medium-tint: #7e7e80;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
